@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    color: #eee;
    font-family: 'Poppins', sans-serif;
}
nav {
    background-color: #222;
    padding: 2rem;
    display: flex;
    z-index: 9999;
    position:relative;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.116);
    justify-content: space-between;
}
.logo {
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #fff 5%, green,red);
color: transparent;
-webkit-background-clip: text;
transition: all 0.3s;
cursor: pointer;
}
.logo:hover {
    transform:translate(3px, -3px);
}
.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.nav-link:link,
.nav-link:visited {
    color: #eee;
    font-size: 1.8rem;
    text-decoration: none;
    transition: all 0.3s;
}
li:not( :last-child) .nav-link:hover,
li:not( :last-child) .nav-link:active {
    color: green;
    border-bottom: 2px solid green;
}
.btn-green:link,
.btn-green:visited {
    background-color: green;
    color: #eee;
    transition:all 0.3s
}
.btn:link,
.btn:visited {
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    display: inline-block;
    text-align:center;
    text-decoration: none;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 2px 3px 3px #e76f6f4d;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 2px 3px 3px #e76f6f4d;
   
}
.btn-green:hover {
    background-color: green;
}
.home-container {
    background-color:#222;
    height: 87.7vh;
   
   
}
.home {
display: flex;
width:100%;

height: 100%;
justify-content: space-between !important;
}
.positioning {
    position: relative;
    width: 50%;
    
}


.welcome-text {
    position: absolute;
    padding: 3rem;
    left: 30%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: black

}
.welcome-text h5 {
    color:#932929;
    
    font-weight: 400;
    font-size: 3rem;
 
   
}
.salutation {
    display: block;
    text-align: center;
    
    margin-bottom: 1.2rem;
   
   
}
.name {
    color:#fff;
    font-weight:500;
    text-align: center;
    margin-bottom: 1.2rem;
    display:block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.8rem;
}


.welcome-text p {
    font-size:1.6rem;
    
    color:#ccc;
    font-weight: 400;

}
.image-container {
    display: flex;
    height: 90%;
   margin-right:10%;
    
    
    
}
.image-container img {
    height: 90%;
    object-fit: cover;
    text-align: center;
    transition: all .3sec;
   
   
}
.image-container img:hover {
    transform: rotate(32deg);
}
.button-container {
    display: block;
    text-align: center;
    margin-top: 3rem;
    transition:all 0.3s;
    backface-visibility: hidden;
}
.btn-none:link,
.btn-none:visited {
    color:white;
    font-size: 1.6em;
    border:1px solid #932929;
    transition:all 0.3s;

}
.btn-none:hover,
.btn-none:active {
    backgroung-color: red
 
}
.btn btn-none {
background-color:red;
}
.about-container{
    padding: 8rem 10rem;
    background-color: #222;
}
.heading-title{
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 1rem;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;

    background-image: linear-gradient(to right, #932929, white, green);
    position: relative;
}
.heading-title::before {
    content: "";
    bottom: 10%;
    left: 0%;
    height: 5px;
    width: 25%;
    background-image: linear-gradient(to right, #932929, white, green);
    position: absolute;
    font-size: 1.2rem;
  
}

.heading-title::after {
    content: "";
    top: 10%;
    left: 0%;
    height: 5px;
    width: 80%;
    background-image: linear-gradient(to right, #932929, white, green);
    position: absolute;
    font-size: 1.2rem;
    
}
.img-bg {
    background-image: linear-gradient(
to right bottom,
#9329298a,
rgba (255, 255, 255, 0.678),
rgba(0, 128, 0, 0.548)
   );

}
.about {
    display: flex;
    width: 100%;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}
.about-text p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}
.text-left {
    text-align: left !important;
}
.about-image {
    width: 90%;
    padding: 3rem;
    transition: all 0.3s;
    position: relative;
    border: none;
}
.about-image:hover::before {
    border:1rem solid #932929;
    width: 100%;
    height: 100%;
}
.about-image::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    padding: 2rem;
    display: block;
    border-left: 1rem solid #932929;
    border-top: 1rem solid #932929;
}
.about-image::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    padding: 2rem;
    border-right: 1rem solid #932929;
    border-bottom: 1rem solid #932929;
}
.about-image img {
    width: 100%;
}
.portfolio-container{
    background-color: #000;
    padding: .9rem;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 8rem;
}
.card{
    background-color: #222;
    border-radius: 0.8rem;
    
    box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.62);
    transition: all 0.3s;
}
.card:hover {
    background-color: #932929;
    transform: translate(10px, -10px);
}
.card-container i {
    font-size: 4.8rem;
  
    font-weight: bold;
    margin-bottom: 2rem;
    color: #eee;
}
.card-container h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #eee;
}
.card-container p {
    font-size: 1.4rem;
   
    color: #eee;
}
.link-portfolio:link,
.link-portfolio:visited {
    color: #eee;
    text-decoration: none;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 2rem;
}
.skills-container {
    background-color: #222;
  }
  .images-container {
    display: flex;
    margin-top: 8rem;
    justify-content: space-between;
    gap: 3rem;
  }
  .skills-card {
    width: 400px;
    max-height: 400px;
    position: relative;
    overflow: hidden;
  }
  .skills-card img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
  }
  .skills-content:hover .skills-content--content {
    display: flex;
  }
  @keyframes scroll {
    0% {
      transform: translateY(100%);
    }
    /* 25% {
      transform: translateY(80%);
    }
    50% {
      transform: translateY(60%);
    }
    75% {
      transform: translateY(30%);
    } */
    100% {
      transform: translateY(0);
    }
  }
  .skills-content {
    border-radius: 12px;
    transition: all 10s;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
  }
  .skills-content--content {
    display: flex;
    flex-direction: column;
    height: 100%;
    display: none;
    overflow: hidden;
  
    align-items: center;
    border-radius: 12px;
    padding: 3rem;
    transition: all 0.8s;
    animation-name: scroll;
    animation-duration: 1s;
    backdrop-filter: blur;
    justify-content: center;
    background-image: linear-gradient(
      to left bottom,
      rgba(0, 128, 0, 0.625),
      rgba(147, 42, 42, 0.682)
    );
  }
  
  .skills-content--content h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  .skills-content--content p {
    font-size: 1.6rem;
  }
  .skills-icon-container {
    background-color: #eee;
    display: block;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
  }
  .skills-content--content i {
    font-size: 1.6rem;
    cursor: pointer;
  }